/* by Florian Valence */

/*<!--breakpoint-->*/
.breakpoints {width: .8em;}
.breakpoint { color: #822; }

/*<!--match-->*/
span.CodeMirror-matchhighlight { background: #494949 }
.CodeMirror-focused span.CodeMirror-matchhighlight { background: #C3DCFF !important; }

/*.cm-s-FloDark .matchHtmlTag{
	background-color: #486f7c;
}*/

/*<!--search-->*/
.CodeMirror-searching {
background-color: #486f7c;
 /* rgba(99, 99, 99, 0.7);*/
/*border: 1px dotted #202325;*/
}

/*<!--activeline-->*/
.CodeMirror-activeline, .activeline {background: #202325 !important;}
.CodeMirror-focused .CodeMirror-activeline-background{background: #202325 !important;}
.cm-s-FloDark .CodeMirror-activeline .CodeMirror-linenumber {background: #202325 !important;}

.cm-s-FloDark.CodeMirror {
    background: #26292C;
    color: #BBBCBD;
}

.cm-s-FloDark div.CodeMirror-selected {background: rgba(195, 220, 255, 0.30) !important;}
.cm-s-FloDark .CodeMirror-gutters {background: #26292C; border-right: none;}
.cm-s-FloDark .CodeMirror-linenumber {color: #73797b; padding-right: 10px;}
.cm-s-FloDark .CodeMirror-cursor {
    border-left: 1px solid #BDAE9D !important;
}

.cm-s-FloDark span.cm-comment {color: #bec8ce;}
.cm-s-FloDark span.cm-atom {color: #C5656B;}
.cm-s-FloDark span.cm-number {color: #44AA43;}

.cm-s-FloDark span.cm-qualifier {color: #f5d055;}
.cm-s-FloDark span.cm-builtin {color: #FF9358;}

.cm-s-FloDark span.cm-operator {color: #FF9358;}
.cm-s-FloDark span.cm-punctuation {color: #a0cae6;}

.cm-s-FloDark span.cm-property {color: #A6E22E;}
.cm-s-FloDark span.cm-punctuation {color: #D1EDFF;}

.cm-s-FloDark span.cm-property {color: #A6E22E;}
.cm-s-FloDark span.cm-attribute {color: #A6E22E;}
.cm-s-FloDark span.cm-keyword {color: #43A8ED;}
.cm-s-FloDark span.cm-string {color: #049B0A;}
.cm-s-FloDark span.cm-string-2 {color: #a0cae6;}
.cm-s-FloDark span.cm-property.cm-string {color: #a0cae6;}

.cm-s-FloDark span.cm-variable {color: #f5d055;}
.cm-s-FloDark span.cm-variable-2 {color: #EDEF7D;}
.cm-s-FloDark span.cm-def {color: #FF9358;}
.cm-s-FloDark span.cm-error {background: #D8290D; color: #F8F8F8;}
.cm-s-FloDark span.cm-bracket {color: #D1EDFF;}
.cm-s-FloDark .CodeMirror-matchingbracket { color: #859900; }
.cm-s-FloDark .CodeMirror-nonmatchingbracket { color: #dc322f; }
.cm-s-FloDark span.cm-tag {color: #43A8ED; font-style: italic;}
.cm-s-FloDark span.cm-link {color: #AE81FF;}

.cm-s-FloDark span.cm-header {font-size: 1.5em;}
.cm-s-FloDark span.cm-strong {font-weight: bold;}
.cm-s-FloDark span.cm-em {font-style: italic;}

.cm-s-FloDark .CodeMirror-matchingbracket, .cm-s-FloDark .matchHtmlTag {
  text-decoration: none;
  color: #2ee25e !important;
 /* font-weight: bold; */
}

.typ { color: #318495; }
.atn { color: #606; }
.atv { color: #080; }
.dec { color: #606; }

/* Indent guides */
.cm-s-FloDark .cm-lkcampbell-indent-guides::before {
	content: "";
	position: absolute;
	display: block;
	top: 0;
	height: 2.4ex;
	width: 1px;
	background-color: transparent;
	border-left: #73797b dotted 1px;
}

.sidebar-selection-triangle.triangle-visible::before {
border-left-color: #73797b;
}
.sidebar-selection-triangle {
background: #73797B;
}
.sidebar-selection {
background: #73797B;
}

/* Widget custom : Color only;  */
/*
.inline-widget {
	background-color: #BDAE9D;
}
.color-editor aside header .large-swatches {
	box-shadow: 0 1px 0 #ddccb8;
}
.color-editor aside ul.swatches li .swatch-bg .swatch {
	box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2), 0 1px 0 #ddccb8;
}
.color-editor aside ul.swatches li .value {
	color: #2A211C;
}

.divider-holder .divider {
	border-left: 1px solid #CCC;
	border-right: 1px solid #2A211C;
}
*/
